.hero{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    // align-items: center;

}

.hero_text{
    > h2 {
        font-size:$lg;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    &_job{
        color:$lightdark;
    }
}

.hero_img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: url("/images/profile.jpg");
    background-size: contain;
    border: 3px solid $ligth;
}