.navbar{
    height: $xl;
    width:100%;
    background-color: $light;
    display:flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    position:sticky;
    top:0;
}

.navtab{
    width: 600px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.navlinks{
    display:flex;
    list-style:none;
}

.nav{
    padding-right: 2rem;
}

.navlink{
    text-decoration: none;
    color:$dark;
    display:flex;
    align-items: center;
}

.navimg{
    height:1.2rem;
    width:1.2rem;
    margin-right:.6rem;
    transform:rotate(12deg);
    transition: transform 300ms ease-in-out
}


.home{
    font-weight: $bold;
    &:hover{
        > .navimg{
            transform : rotate(-15deg);
        }
    }
}

.toggledark{
    height: 2rem;
    width: 2rem;
    border: 0;
    border-radius: 6px;

    > img{
        height: 1rem;
        transform : rotate(-30deg);
    }
}

