// Colors
$bglight: #f0e7db;
$bgdark: #202023;
$neon: #2f7e73;
$yellow: #fbd38d;
$dark: #000000;
$lightdark: #1b212c;
$lightneon: #81e6d9;
$light: #ffffff85;
$hightlight: #ff63c3;


$sm : 14px;
$basesize:17px;
$md : 1.333rem;
$lg : 1.777rem;
$xl : 2.369rem;

$regular:400;
$bold:700;
$xbold:900;